.panel.panel-default
  .panel-body
    .col-lg-12.col-sm-12.name
      %p
        = event.name
    .col-lg-12.col-sm-12.local
      Local:
      = event.location
    .col-lg-12.dates
      .col-lg-6.col-sm-12
        De
        = event.begin_date.strftime('%d/%m/%Y')
      .col-lg-6.col-sm-12
        Até
        = event.end_date.strftime('%d/%m/%Y')
    .col-lg-4.col-sm-6
      = link_to '+Info', event_path(event.id), class: 'btn btn-success'
    .col-lg-8.col-sm-6.status= render 'users/event_box_buttons', event: event
    .col-lg-7.col-sm-7{ class: "social-share-btn-#{event.id}"}
    .col-lg-5.col-sm-5  
    - if event.planner == current_user
      = link_to '', edit_event_path(event.id), class: 'btn btn-primary ion-edit'
      = link_to '', event_path(event.id), method: :delete, data: { confirm: 'Você tem certeza que deseja apagar o evento?' }, class: 'btn btn-primary ion-trash-a'

:javascript
  $(".social-share-btn-#{event.id}").jsSocials({
    url: '#{event_url(event.id)}',  
    showLabel: false,
    showCount: false,
    shareIn: 'popup',
    text: '#{event.name}',
    shares: [
        { share: 'twitter', hashtags: 'uspeventos' }
        , 'facebook', 'whatsapp']
  });
  $(document).ready(function() {
    $(".thumbnail-tags").click(function(event){
      $('#filters input[value='+event.target.text+']').prop('checked', !$('#filters input[value='+event.target.text+']').prop('checked'));
    });
  });