.panel.panel-default.animated.bounce
  .panel-heading.col-lg-12.col-sm-12
    .dates= l(event.begin_date, format: '%A, %d de %B')
  .col-lg-12.col-sm-12.poster
    = link_to(image_tag(event.avatar.url, class: 'img-responsive'), event_path(event.id))
  .panel-body.col-lg-12.col-sm-12
    .col-lg-12.name
      %p= link_to event.name, event_path(event.id)
    .col-lg-12.tags
      - event.tags.try(:each) do |tag|
        = link_to tag.name, home_url(tag: tag.name), remote: true, class: 'thumbnail-tags '+I18n.transliterate(tag.name).downcase
  .panel-footer.col-lg-12.col-sm-12
    .col-lg-5.col-sm-5=render 'users/event_box_buttons', event: event
    .col-lg-7.col-sm-5{ class: "social-share-btn-#{event.id}"}


:javascript
  $(".social-share-btn-#{event.id}").jsSocials({
    url: '#{event_url(event.id)}',  
    showLabel: false,
    showCount: false,
    shareIn: 'popup',
    text: '#{event.name}',
    shares: [
        { share: 'twitter', hashtags: 'uspeventos' }
        , 'facebook', 'whatsapp']
  });
  $(document).ready(function() {
    $(".thumbnail-tags").click(function(event){
      $('#filters input[value='+event.target.text+']').prop('checked', !$('#filters input[value='+event.target.text+']').prop('checked'));
    });
  });