= simple_form_for @event do |f|
  = f.error_notification
  .form-inputs
    .col-lg-12= f.input :name, required: true, autofocus: true
    .col-lg-12= f.input :description, required: true, autofocus: true, :as => :text, input_html: { :rows => 6 }
    .col-lg-9= f.input :location, required: true, autofocus: true
    .col-lg-3= f.input :price
    .col-lg-12= f.input :begin_date
    .col-lg-12= f.input :end_date
    .col-lg-12
      Tipo de evento: (pode escolher mais de uma opção):
      = collection_check_boxes( :event, :tag_list, ActsAsTaggableOn::Tag.all, :name, :name , class: 'check_box')
  .form-actions
    .col-lg-12= f.button :submit, "Enviar"