= simple_form_for @event do |f|
  = f.error_notification
  .form-inputs
    .col-lg-12= f.input :name, required: true, autofocus: true
    .col-lg-12= f.input :description, required: true, autofocus: true, :as => :text, input_html: { :rows => 6 }
    .col-lg-9= f.input :location, required: true, autofocus: true
    .col-lg-3= f.input :price
    .col-lg-12= f.input :begin_date
    .col-lg-12= f.input :end_date
    .col-lg-12= f.input :avatar, as: :file
    .col-lg-12{class: tag_list_error? }
      = f.label :tag_list, 'Tipo de evento: (escolha até 3 opções):'
      - unless @event.errors[:tag_list].empty?
        .help-block= @event.errors[:tag_list].first
    .col-lg-12
      = collection_check_boxes( :event, :tag_list, ActsAsTaggableOn::Tag.all, :name, :name ) do |b|
        .col-lg-3
          = b.check_box
          = b.label(class: I18n.transliterate(b.text).downcase )
  .form-actions
    .col-lg-12= f.button :submit, "Enviar"