%h2 Cadastrar Evento
= simple_form_for @event do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, required: true, autofocus: true
    = f.input :description, required: true, autofocus: true
    = f.text_field :begin_date, class: 'new_event_begin_date'
    = f.text_field :end_date, class: 'new_event_end_date'
  .form-actions
    = f.button :submit, "Cadastrar"
