/ Google Tag Manager
%noscript
  %iframe{:height => "0", :src => "//www.googletagmanager.com/ns.html?id=GTM-WLVXX3", :style => "display:none;visibility:hidden", :width => "0"}
:javascript
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WLVXX3');
/ End Google Tag Manager

%nav#topNav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.page-scroll{:href => root_path }
        USP Eventos
    #bs-navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Sugestões', ''
        - if user_signed_in?
          %li
            = link_to 'Novo Evento', new_event_path
          %li
            = link_to 'Meus Dados', edit_user_registration_path
          %li        
            = link_to 'Sair', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'Cadastrar', new_user_registration_path
          %li  
            = link_to 'Entrar', new_user_session_path
  .notice
    - flash.each do |key, value|
      .flash(class=key)= value