%nav#topNav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.page-scroll{:href => "#first"}
        USP Eventos
    #bs-navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => ''} Sugestões
        - if user_signed_in?
          %li
            = link_to 'Criar Evento', new_event_path
          %li
            = link_to 'Meus Dados', edit_user_registration_path
          %li        
            = link_to 'Sair', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'Cadastrar', new_user_registration_path
          %li  
            = link_to 'Entrar', new_user_session_path