.container-fluid.edit_wrapper.row
  .panel.panel-default.col-lg-4.col-lg-offset-4
    .panel-heading
      %h1
        Meus Dados
    .panel-body
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :name, required: true, autofocus: true    
          = f.input :email, required: true, autofocus: true
          = f.input :password, autocomplete: "off", hint: "Deixe em branco para manter a senha atual", required: false
          = f.input :password_confirmation, required: false
          .col-lg-12
            %label Do que você gosta?
          .col-lg-12
            = collection_check_boxes( :user, :preferences, ActsAsTaggableOn::Tag.all, :name, :name ) do |b|
              .col-lg-6
                = b.check_box
                = b.label(class: I18n.transliterate(b.text).downcase )
        .form-actions
          = f.button :submit, "Atualizar"
      = link_to "Voltar", :back
