.container-fluid.edit_wrapper.row
  .col-lg-4.col-lg-offset-4
    %h1
      Meus Dados
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name, required: true, autofocus: true    
        = f.input :email, required: true, autofocus: true
        = f.input :password, autocomplete: "off", hint: "Deixe em branco para manter a senha atual", required: false
        = f.input :password_confirmation, required: false
      .form-actions
        = f.button :submit, "Atualizar"
    = link_to "Voltar", :back
