.content-wrapper.container-fluid
  .row
    .col-lg-3.col-lg-offset-4.edit_wrapper
      %h1
        Meus Dados
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :name, required: true, autofocus: true    
          = f.input :email, required: true, autofocus: true
          = f.input :password, autocomplete: "off", hint: "Deixe em branco para manter a senha atual", required: false
          = f.input :password_confirmation, required: false
          = f.input :current_password, hint: "Digite sua senha atual para confirmar as mudanças", required: true
        .form-actions
          = f.button :submit, "Atualizar"
      = link_to "Voltar", :back
